<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                <li>@Html.ActionLink("Formatos", "Index", "Formatos")</li>
                <li>@Html.ActionLink("Formatos-Libros", "Index", "FormatosLibros")</li>
                <li>@Html.ActionLink("Libros", "Index", "Libros")</li>
                <li>@Html.ActionLink("Textos", "Index", "Textos")</li>
                <li>@Html.ActionLink("Textos-Categorias", "Index", "TextosCategorias")</li>
                <li>@Html.ActionLink("Textos-Libros", "Index", "TextosLibros")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
            <p class="nav navbar-text navbar-right">Hola, @User.Identity.Name!</p>
        </div>
    </div>
</div>
