@model LectoresConGloria_MDL.Modelos.MDL_FormatoLibro

@{
    ViewBag.Title = "Asignar Formato A Libro";
}

<h2>Asignar Formato A Libro</h2>

@using (Html.BeginForm("AsignarFormato", "FormatoLibro", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Action("Titulo", "Libro", new { id = Model.IdLibro })

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.IdLibro)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdFormato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdFormato, new SelectList(ViewBag.Formatos, "Id", "Valor"), "Selecciona Formato:", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdFormato, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Archivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Archivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Archivo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Details", "Libro", new { id = Model.IdLibro }, null)
</div>
