@model LectoresConGloria_MVC_ADM.Models.TBL_Textos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBL_Textos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Audio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Audio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
