@model LectoresConGloria_MDL.Vistas.V_TextoDetalle

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Titulo)</h4>
    <hr />
    <div class="video-grid">
        <iframe src="@Model.Audio" allowfullscreen></iframe>
    </div>
    @Html.DisplayFor(model => model.Vistas) Vistas
    <div>
        <p>
            Si gustas el texto, en la liga de abajo, dando click, lo puedes descargar.
        </p>
        <a href="@Model.Texto" target="_blank">Texto</a>
    </div>
    <div>
        <p>
            Explicamos en este video.
        </p>
        <a href="@Model.Explicacion" target="_blank">Explicando</a>
    </div>
</div>

@Html.Action("CategoriaPorTexto", "TextoCategoria")

<p>
    @Html.ActionLink("Back to List", "Index")
</p>